# Ignore dependencies
vault5/**/node_modules/
vault5/**/.cache/

# Ignore OS / IDE / environment stuff
.DS_Store
Thumbs.db
*.log

# Ignore build/output
vault5/**/dist/
vault5/**/build/

# Ignore environment variables
vault5/**/.env
